.rcard-wrapper {
  border: 1px solid black;
  width: 90%;
  margin: 20px auto;
  display: flex;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--accent);
  font-weight: bold;
  align-items: center;
}
.company {
  width: 25%;
  text-align: center;
}
.candidate {
  width: 25%;
  text-align: center;
}
.date {
  width: 20%;
  text-align: center;
}
.status {
  width: 15%;
  text-align: center;
}
.buttons {
  width: 15%;
  display: flex;
  text-align: center;
  justify-content: center;
}
.buttons button {
  border: none;
  margin: 0 5px;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
