header {
  background-color: var(--accent);
  display: flex;
  align-items: center;
  height: 80px;
}
.reports {
  text-align: center;
}

.logo img {
  height: 60px;
  padding: 9px 5px 5px 5px;
}

.nav-link * {
  font-size: 20px;
}
.NavLink {
  text-align: center;
}

header a {
  text-decoration: none;
  font-family: 'Anton SC', sans-serif;
  color: black;
  line-height: normal;
}
header button {
  padding: 0;
  background-color: transparent;
  border: none;
  /* font-family: Raleway; */
  font-family: 'Anton SC', sans-serif;
  color: black;
  padding-right: 30px;
  cursor: pointer;
}

@media(max-width: 600px){
  header{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 10px;
  }
  .logo{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   height: 50px;     
  } 
  .logo img{
    max-width: 100%;
    max-height: 100%;
    width: 100px;    
  }
  .candidates a{
   width: 30px;
  }
  .login{
    text-align: center;
  }
  .login button {    
    display: inline-block;
    padding-right: 0px;
  }
}

@media(min-width: 600px){
  header{
    display: flex;
    justify-content: space-between;
  }
  .logo{
    padding-left: 30px;
    
  }
  .logo img{
    width: 150px
  }
  .candidates a{
   padding-left: 20px;
  }
  .links-container{
   display: flex;
   flex-direction: row;
  }
  .login button{
    padding-left: 20px;
  }
}
@media(min-width: 1025px){
  .logo{
    padding-left: 30px;
    
  }
  .logo img{
    width: 200px
  }
}
