header {
  background-color: var(--accent);
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  height: 80px;
}
.logo {
  margin-right: auto;
}
.logo img {
  height: 60px;
  padding: 9px 5px 5px 5px;
}

header a {
  text-decoration: none;
  font-size: 24px;
  font-family: Raleway;
  color: black;
  line-height: normal;
  padding-right: 30px;
}
header button {
  padding: 0;
  font-size: 24px;
  background-color: transparent;
  border: none;
  font-family: Raleway;
  color: black;
  padding-right: 30px;
  cursor: pointer;
}
