.fullModal {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.modalCandidateName {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 25px;
  background-color: var(--accent);
  align-items: center;
  padding: 5px;
  border-radius: 10px;
}
.modalCandidateName button {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.modalCandidateInfo {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
}
.modalCandidateStatus {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;
}
.modalCandidateStatus h2 {
  font-weight: bold;
  background-color: var(--accent);
  padding: 5px;
  border-radius: 10px;
}
.modalCandidateNote {
  width: 50%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
}
