html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --main-dark: rgb(2, 4, 15);
  --main-light: white;
  --neutral: #ededed;
  --accent: rgb(90, 177, 187);
}

* {
  box-sizing: border-box;
}

body, html {
  background-color: var(--main-light);
  width: 100%;
  /* min-height: 100vh; */
}


p,
a,
div, button, select {
  font-family: "Raleway";
  font-size: 16px;
}


/* Keeps footer on the bottom when there is no content on the page */
#root {
  min-height: 100vh;
}

.content-wrapper {
  padding: 50px;
  height: 100%;
  min-height: calc(100vh - 80px);
}

/* Footer at the bottom if content is short */
.outer-wrapper {
  height: 100%;
  min-height: 100vh;
}

.shortContent .page-wrapper {
  position: relative;
  min-height: 100%;
}

.shortContent .content-wrapper {
  padding-bottom: 80px;
}

.shortContent .footer {
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}