.rcard-title {
  width: 90%;
  margin: 20px auto;
  display: flex;
  padding: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.actions {
  width: 15%;
  text-align: center;
}
@media (max-width: 850px) {
  .rcard-title {
    display: none;
  }
}
